#do not risk developers having 'slightly' different versions leading to wondering why each system behaves differently...
save-exact = true

#Ensure we all use the same node version because again, we want to make sure if two developers are trying to figure out why one developer's environment works and the other's does not, we eliminate it being a library issue saving us VALUABLE time
engine-strict=true
